<div class="main">
    <section class="module bg-dark-30" data-background="assets/images/section-4.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1 class="module-title font-alt mb-0">Login-Register</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="module">
        <div class="container">
            <div class="row">

                <app-login *ngIf="action === 'login'" [(action)]="action"></app-login>
                <app-register *ngIf="action === 'register'" [(action)]="action"></app-register>

            </div>
        </div>
    </section>
</div>